@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-Regular.ttf');
     font-weight: 400;
     font-style: normal;
};

@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-Bold.ttf');
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-Semibold.ttf');
     font-weight: 600;
     font-style: normal;
}

@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-Medium.ttf');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-Light.ttf');
     font-weight: 300;
     font-style: normal;
}

@font-face {
     font-family: 'Pridi';
     src: url('/static/fonts/Pridi-ExtraLight.ttf');
     font-weight: 100;
     font-style: normal;
}
